<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>ApertureLab - $viewTitle</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
</head>
<body>
<div class="siteHeader">
    <div class="siteHeader__section">
        <div class="siteHeader__item siteHeaderLogo">
            <img src="../images/aperture_logo.gif" alt="Firmen Logo" style="height:20px;" >
        </div>
        <div class="siteHeader__item siteHeaderButton">Action</div>
        <div class="siteHeader__item siteHeaderButton">Catalog</div>
        <div class="siteHeader__item siteHeaderButton"><label>Searche</label> <input type="text">
            </input></div>
        <div class="siteHeader__item siteHeaderLogo">
            <i class="fa fa-search"></i>
        </div>
    </div>
    <!-- This section gets pushed to the right side-->
    <div class="siteHeader__section">
        <div class="siteHeader__item siteHeaderButton">de</div>
        <div class="siteHeader__item siteHeaderButton">en</div>
        <div class="siteHeader__item siteHeaderLogo">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="siteHeader__item siteHeaderLogo">
            <i class="fa fa-user"></i>
        </div>
    </div>
</div>

<main>
<h1>Home</h1>
    <br/><br/>
    <p>Welcome to the Webpage! Wir hoffen dass sie alles was sie suchen finden und wir ihnen zum perfekten Bild verhelfen können! Geniessen sie die gelungenen Werke!</p>
</main>
<div class="formFooter">
    <p>&copy; 2017 by Pascal Liniger and Louis Siegrist</p>
</div>
</body>
</html>