<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>ApertureLab - $viewTitle</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
</head>
<body>
<div class="siteHeader">
    <div class="siteHeader__section">
        <div class="siteHeader__item siteHeaderLogo">
            <img src="../images/aperture_logo.gif" alt="Firmen Logo" style="height:20px;" >
        </div>
        <div class="siteHeader__item siteHeaderButton">Action</div>
        <div class="siteHeader__item siteHeaderButton">Catalog</div>
        <div class="siteHeader__item siteHeaderButton"><label>Searche</label> <input type="text">
            </input></div>
        <div class="siteHeader__item siteHeaderLogo">
            <i class="fa fa-search"></i>
        </div>
    </div>
    <!-- This section gets pushed to the right side-->
    <div class="siteHeader__section">
        <div class="siteHeader__item siteHeaderButton">de</div>
        <div class="siteHeader__item siteHeaderButton">en</div>
        <div class="siteHeader__item siteHeaderLogo is-site-header-item-selected">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="siteHeader__item siteHeaderLogo">
            <i class="fa fa-user"></i>
        </div>
    </div>
</div>

<main>
    <h1>Warenkorb Übersicht</h1><br/>
    <p>Auf dieser Seite sehen sie eine Übersicht aller Bildkategorien, welche sie ausgewählt haben. Wenn Sie auf das Plus Symbol klicken erhalten sie eine Detailansicht des gewählten Bildes und sie können es aus ihrem Warenkorb entfernen.</p><br/>
    <div class="detail-image">
        <h2>Informationen im Überblick</h2>
        <table class="detail-information-image" style="width:100%">
            <tr>
                <th>Product</th>
                <th>Anzahl</th>
                <th>anzeigen</th>
                <th>bearbeiten</th>
                <th>entfernen</th>
                <th>Preis</th>
            </tr>
            <tr>
                <td>$product</td>
                <td>$amount</td>
                <td><div class="item_list">
                    <i class="fa fa-plus"></i>
                </div></td>
                <td><div class="item_list">
                    <i class="fa fa-pencil"></i>
                </div></td>
                <td><div class="item_list">
                    <i class="fa fa-trash-o"></i>
                </div></td>
                <td>$price</td>
            </tr>
            <tr>
                <td>$product</td>
                <td>$amount</td>
                <td><div class="item_list">
                    <i class="fa fa-plus"></i>
                </div></td>
                <td><div class="item_list">
                    <i class="fa fa-pencil"></i>
                </div></td>
                <td><div class="item_list">
                    <i class="fa fa-trash-o"></i>
                </div></td>
                <td>$price</td>
            </tr>
            <tr>
                <td>$product</td>
                <td>$amount</td>
                <td><div class="item_list">
                    <i class="fa fa-plus"></i>
                </div></td>
                <td><div class="item_list">
                    <i class="fa fa-pencil"></i>
                </div></td>
                <td><div class="item_list">
                    <i class="fa fa-trash-o"></i>
                </div></td>
                <td>$price</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="special"><b>$total price</b></td>
            </tr>
        </table>
    </div>
    <br><br>
    <button type="button">Warenkorb leeren</button>
    <button type="button">Bestellung absenden</button>

    <br><br>
</main>

<div class="formFooter">
    <p>&copy; 2017 by Pascal Liniger and Louis Siegrist</p>
</div>
</body>
</html>