<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>ApertureLab - $viewTitle</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
</head>
<body>
<div class="siteHeader">
    <div class="siteHeader__section">
        <div class="siteHeader__item siteHeaderLogo">
            <img src="../images/aperture_logo.gif" alt="Firmen Logo" style="height:20px;" >
        </div>
        <div class="siteHeader__item siteHeaderButton">Action</div>
        <div class="siteHeader__item siteHeaderButton is-site-header-item-selected">Catalog</div>
        <div class="siteHeader__item siteHeaderButton"><label>Searche</label> <input type="text">
            </input></div>
        <div class="siteHeader__item siteHeaderLogo">
            <i class="fa fa-search"></i>
        </div>
    </div>
    <!-- This section gets pushed to the right side-->
    <div class="siteHeader__section">
        <div class="siteHeader__item siteHeaderButton">de</div>
        <div class="siteHeader__item siteHeaderButton">en</div>
        <div class="siteHeader__item siteHeaderLogo">
            <i class="fa fa-user"></i>
        </div>
    </div>
</div>
<main>
    <h1>Produkt Details</h1><br/>
    <p>Nun erfahren sie mehr zu dem ausgewählten Bild. Wir hoffen ihne gefällt ihre Wahl. Um den Kauf abzuschliessen müssen sie das Produkt dem Warenkorb zufügen.</p><br/>

    <div class="item-body">
        <img src="../images/aperture_logo.gif" alt="Firmen Logo" style="width:400px;" >
    </div>

    <div class="detail-image">
        <h2>Informationen im Überblick</h2>
        <p><br/>$description</p>
        <table class="detail-information-image" style="width:100%">
            <tr>
                <td>id</td>
                <td>$id</td>
            </tr>
            <tr>
                <td>name</td>
                <td>$name</td>
            </tr>
            <tr>
                <td>kategorie</td>
                <td>$categorie</td>
            </tr>

            <tr>
                <td>Preis</td>
                <td>$price</td>
            </tr>
        </table>
    </div>
    <button type="button">kaufen</button>

</main>
<div class="formFooter">
    <p>&copy; 2017 by Pascal Liniger and Louis Siegrist</p>
</div>
</body>
</html>